
<div id="verticalnavbar" class="span-3">
<ul>
	<li><a id="occup_link" href="#">Occupation</a> </li>
	<li><a id="loc_link" href="#">Location</a> </li>
	<li><a id="gend_link" href="#">Gender</a> </li>
	<li><a id="paychk_link" href="#">Paycheck</a> </li>
</ul>
	
</div>

<div id="userform" class="span-10">
	<div id="occupation">

		
		

	<%= form_tag("/SalaryComJobs", :method => "get") do %>
  		<%= label_tag(:q, "Start typing your job title") %> <br/>
  		<%= text_field_tag :jobtitle, '', :size => 50,  :class => 'searchbox'  %>
  		
	<% end %>
	
		
		<a id="nextlink1" href="#" class="button orange">Next</a>
		
	</div>
	
	
	<div id="location">
		<label for="zipcode">Start typing zipcode</label> <br/>
		<input type="text" name="" value="" id="zipcode" class="userfield">
		
		<a id="nextlink2" href="#" class="button orange">Next</a>
	</div>
	
	
	<div id="gender">
		<h5>Select gender</h5>

		
		<input type="radio" name="gender_radio" value="Male"> Male<br/>
		<input type="radio" name="gender_radio" value="Female">Female
		<a id="nextlink3" href="#" class="button orange">Next</a>

	</div>
	
	<div id="paycheck">
		<h5>Select Paycheck type</h5>
		<input type="radio" name="paychk_radio" value="Yearly"> Yearly Salary<br/>
		<input type="radio" name="paychk_radio" value="Monthly"> Monthly Salary <br/>
		<input type="radio" name="paychk_radio" value="Hourly"> Hourly Wages <br/>
	    <a id="showmemoney" href="#" class="button orange">Show me the money</a>
	</div>
	
	<div id="chartscontainer" class="span-10 last">
		whats going on?
	</div>
	<div id="chartscontainer2" class="span-10 last">
		whats going on?
	</div>
	
	
</div>

