#topspacer{
	height:25px;
}

#bottomspacer{
	height:25px;
}

#page_container{
	background-color: white;
	/*border: 1px solid black;*/
	-moz-box-shadow:2px 2px 4px #999;
	-webkit-box-shadow:2px 2px 4px #999;
	box-shadow:2px 2px 4px #999;
	margin:0;
	-moz-border-radius:    10px;
	 -webkit-border-radius: 10px;
	 border-radius:         10px;
	
}

#header{
	padding-left: 20px;
}

/*Main navigation menu */
#mainmenu{
	background-color: #5C604D;
}
#mainmenu ul {
  margin: 0;
  padding: 0.5em 0;
}

#mainmenu ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

#mainmenu ul li a {
  padding: 0.3em 0.3em;
  font-weight: bold;
  font: 125% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
  color:white !important;
 -webkit-text:white;

}


#mainmenu ul li a:hover {
  background-color: #F20056;
  
}

#mainmenu ul li a:visited {
  background-color: #F20056;
  
}



/*End main menu*/

#content{
	/*border-top: 1px solid black;*/

}

#mainsection {
	padding: 20px 20px 20px 20px;
	
	
}

#sidebar{
	padding: 20px 20px 20px 20px;

}

body{
	background-color:#eef2fb; 
	
}

/* Vertical Navigation menu styling #eef2fb;*/

#verticalnavbar{
	background-color: #DCDCDC;
	border: 1px dotted #999;
	-moz-border-radius:    4px;
	 -webkit-border-radius: 4px;
	 border-radius:         4px;
	 padding: 0;
	 
	
}
#verticalnavbar ul{
	  
	  padding: 0;
	  margin: 0;
	  
			
}

#verticalnavbar ul li {
  list-style: none;
  padding:   0.5em 0.5em;
  margin: 0;
  border-bottom: 1px dotted #999;
  
}

#verticalnavbar ul li a {
  padding: 0.3em 0.3em;
  font-weight: bold;
  font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-decoration: none;
  color:white !important;
 

}

#verticalnavbar ul li:hover {
  background-color: #00BFFF;
  
}

#verticalnavbar ul li:visited {
  background-color: #00BFFF;
  
}

.currentMenuItem{
	background-color: #00BFFF;
}


#sidebaritem{
	border:1px solid gray;
	-moz-border-radius:    7px ;
	 -webkit-border-radius: 7px;
	 border-radius:         7px;
	margin:0;
	
	
}
#sidebaritemheader{
	background-color: #B22222;
	color:white !important;
	text-decoration:none;
	border:1px solid gray;
	padding:10px 10px 10px 10px;
	-moz-border-radius:    7px 7px 0 0;
	 -webkit-border-radius: 7px 7px 0 0;
	 border-radius:         7px 7px 0 0;
}

#sidebaritemcontent{
		padding:10px 10px 10px 10px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 1em Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	position: relative;
	left:100px;
	bottom:-100px;
}
.button:hover {
	text-decoration: none;
	color:white !important;
	 -webkit-text:white
}


.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

#footer{
	background-color: #F5F5F5;
	-moz-border-radius:    0 0 10px 10px;
	 -webkit-border-radius: 0 0 10px 10px;
	 border-radius:         0 0 10px 10px;
	padding:20px 20px 20px 20px;
	margin:0;
	
}
